
/*--------편집하지 마세요(편집한사람 디진다)---------
        index.html의 디자인은 index.css에서!
*/

* {
    font-family:'맑은 고딕', 'Segoe UI', 'Apple SD Gothic Neo', Arial;
}
body {
    background-color:#F5F5F5;
    margin:2px auto;
}


/*header*/
#header {
    margin:0px;
}
#login{
    text-align:right;
    font-size:90%;
}
#title {
    text-align: center;
    color:orange;
}
#title a {
    text-decoration:none;
    font-size:170%;
    color:orange;
}
#title em , em{
    font-size:94%;
    font-family: 'Segoe UI', 'Apple SD Gothic Neo', Arial;
}


/*menu*/
#menu{
    text-align:center;
    background-color: orange;
}
#menu a{
    color:#F5F5F5;
    margin-left:20px;
    margin-right:20px;
    text-decoration: none;
    font-size:94%;
}


/*section*/
#section {
    margin-left:260px;
    margin-right:40px;
    /*margin-bottom:100px;*/
}
#section article {
    color:rgb(228, 173, 21, 0.911);
}
#section article header {
    font-size:130%;
    color:rgb(233, 162, 10);
    margin-top:30px;
    margin-bottom: 30px;
}


/*aside*/
#sidemenu {
    position: absolute;
    top:120px;
    left:15px;
    margin-top:30px;
}
#sidemenu span {
    font-size:130%;
    color:rgb(233, 162, 10);
}
#sidemenu hr {
    width:200px;
    height:2px;
    background-color: orange;
    border-color:orange;
    border:0px;
    
}
#lasthr {
    position: relative;
    top:50px;
}
#sidemenu nav , #sidemenu nav ol li a{
    color:rgb(228, 173, 21, 0.911);
    text-decoration: none;
}
#sidemenu nav ol {
    padding-left: 20px;
}


/*footer*/
footer {
    color:orange;
    text-align: center;
    visibility: hidden;
}