/*css.html*/
#cssimg {
    float: left;
    margin-right: 20px;
    margin-top:10px;
    margin-bottom: 20px;
}
pre{
    color:#7D2727;
    background-color:#DCDCDC;
    padding-left: 20px;
}
xmp .plain {
    color:#303336;
}